<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>VKTabletDriver 1.0 Copyrights © 2018 VEIKK</string>
	<key>CFBundleIdentifier</key>
	<string>VEIKK.VKTabletDriver</string>
	<key>CFBundleName</key>
	<string>VKTabletDriver</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>IFMajorVersion</key>
	<integer>1</integer>
	<key>IFMinorVersion</key>
	<integer>0</integer>
	<key>IFPkgBuildDate</key>
	<date>2018-11-20T09:44:22Z</date>
	<key>IFPkgBuildVersion</key>
	<string>14F2511</string>
	<key>IFPkgCreator</key>
	<string>IcebergBuilder 1.3.1</string>
	<key>IFPkgFlagComponentDirectory</key>
	<string>Contents/Resources</string>
	<key>IFPkgFlagPackageList</key>
	<array>
		<dict>
			<key>IFPkgFlagPackageLocation</key>
			<string>Applications.pkg</string>
			<key>IFPkgFlagPackageSelection</key>
			<string>required</string>
		</dict>
		<dict>
			<key>IFPkgFlagPackageLocation</key>
			<string>PreferencePanes.pkg</string>
			<key>IFPkgFlagPackageSelection</key>
			<string>required</string>
		</dict>
		<dict>
			<key>IFPkgFlagPackageLocation</key>
			<string>ApplicationSupport.pkg</string>
			<key>IFPkgFlagPackageSelection</key>
			<string>required</string>
		</dict>
		<dict>
			<key>IFPkgFlagPackageLocation</key>
			<string>LaunchAgents.pkg</string>
			<key>IFPkgFlagPackageSelection</key>
			<string>required</string>
		</dict>
		<dict>
			<key>IFPkgFlagPackageLocation</key>
			<string>Preferences.pkg</string>
			<key>IFPkgFlagPackageSelection</key>
			<string>required</string>
		</dict>
	</array>
	<key>IFPkgFormatVersion</key>
	<real>0.10000000149011612</real>
</dict>
</plist>
